name: Release
on:
  push:
    branches:
      - main
permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        release-stage: [stable, beta, alpha]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm clean-install
      - run: npm run build
      - name: Test (${{ matrix.release-stage }})
        run: |
          if [ "${{ matrix.release-stage }}" = "stable" ]; then
            npm test
          else
            npm run test:${{ matrix.release-stage }}
          fi
  release:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: git fetch --tags --force
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org
      - run: npm clean-install
      - run: npm audit signatures
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
